h1 {
    text-align: center;
}
#scrabbleBoard {
    height: 160px;
    width: 100vw;
}

#board{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
#scrabbleSnapPoint {
    margin: auto;
    margin-top: 9.5%;
    margin-left:-20px;
    justify-content: center;
    display: grid;
    grid-auto-flow: column;
    column-gap: 3px;
}
#scrabbleSnapPoint > * {
    align-self: center;
}
article {
    border: 1px solid black;
    margin: auto;
    align-self: center;
    margin-top: 30vh;
    width: 34.3vw;
}
#letterBox {
    width:70px;
    height: 70px;
}
#snapPoint {
    width: 70px;
    height: 70px;
    border: 1px solid blue;
}
.ui-draggable-dragging { border:2px solid red; }